<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LDS City</title>
    <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
    <script src="https://raw.githack.com/donmccurdy/aframe-extras/v6.0.0/dist/aframe-extras.min.js"></script>
  </head>
  <body>
    <a-scene>
      <!-- Camera and controls -->
      <a-entity camera look-controls wasd-controls position="0 2 0"></a-entity>

           <!--<a-entity id="lightSphere" geometry="primitive: sphere; radius: 0.2" material="shader: flat" light="type: point; color: #FFF" position="-4 10 -4"-->
           <!--    animation="property: position; to: 4 15 -4; dir: alternate; loop: true"></a-entity>-->

      <!-- Sky -->
      <a-sky id="sky" src={{url_for('lds.static', filename='textures/sky.jpg')}} radius="150"></a-sky>

      <!-- Ground plane -->
      <a-plane position="0 -0.1 0" rotation="-90 0 0" width="200" height="200" material="src: url(https://cdn.aframe.io/a-painter/images/floor.jpg); repeat: 100 100;"></a-plane>

      <!-- Buildings -->
      {% for building in city_data.buildings %}
      <a-entity id="{{ building.id }}" status="{{ building.status }}">
        <a-text value="Status: {{ building.status }}" position="{{ building.position_x }} {{ building.height }} {{ building.position_z }}" scale="2 2 2"></a-text>
        {% if building.file == "" %}
        <a-box position="{{ building.position_x }} 1 {{ building.position_z }}" width="{{ building.width }}" height="{{ building.height }}" depth="{{ building.depth }}" rotation="0 0 0" color="{{ building.color }}"></a-box>
        {% else %}
        <a-obj-model src={{url_for('lds.static', filename=building.file)}} position="{{ building.position_x }} 2 {{ building.position_z }}" scale="3 3 3" rotation="-90 0 0"></a-obj-model>
        {% endif %}
      </a-entity>
      {% endfor %}

      <!-- Lamps -->
      {% for lamp in city_data.lamps %}
      <a-entity id="{{ lamp.id }}" status="{{ lamp.status }}" position="{{ lamp.position_x }} 1 {{ lamp.position_z }}">
        <a-text value="Status: {{ lamp.status }}" position="0 {{ lamp.height }} 0" scale="2 2 2"></a-text>
        <a-cone radius-bottom="0.1" radius-top="0.5" height="{{ lamp.height }}" color="{{ lamp.color }}"></a-cone>
        <a-sphere radius="0.2" color="#FFFFFF" position="0 {{ lamp.height / 2 }} 0"></a-sphere>
      </a-entity>
      {% endfor %}

      <!-- Trees -->
      {% for tree in city_data.trees %}
      <a-entity id="{{ tree.id }}" status="{{ tree.status }}" position="{{ tree.position_x }} 1 {{ tree.position_z }}">
        <a-text value="Status: {{ tree.status }}" position="0 {{ tree.height + tree.radius_top }} 0" scale="2 2 2"></a-text>
        <a-cone radius-bottom="{{ tree.radius_bottom }}" radius-top="{{ tree.radius_top }}" height="{{ tree.height }}" color="{{ tree.color_trunk }}"></a-cone>
        <a-sphere radius="{{ tree.radius_top }}" color="{{ tree.color_leaves }}" position="0 {{ tree.height }} 0"></a-sphere>
      </a-entity>
      {% endfor %}

<!-- Humans -->
{% for human in city_data.humans %}
<a-entity id="{{ human.id }}" position="{{ human.position_x }} 1 {{ human.position_z }}" rotation="-90 0 0" scale="6 6 6">
  <a-obj-model src={{url_for('lds.static', filename='models/'+human.file)}} scale="6 6 6"></a-obj-model>
  <a-text value="Status: {{ human.status }}" position="0 1.5 0" scale="4 4 4"></a-text>
</a-entity>
{% endfor %}


    </a-scene>
    <script src="{{url_for('lds.static', filename='js/lds_city_vr.js')}}"></script>
  </body>
</html>
