{% extends 'base/base.html' %}

{% block content %}
<!-- Header -->
<header class="w3-container" style="padding-top: 22px">
  <link rel="stylesheet" type="text/css" href="{{ url_for('main.static',filename='css/main.css') }}">
</header>



<div class="w3-container">
  <h2>How We Make Models</h2>
  {% for step_key, step_value in creation_steps.items() %}
    <div class="w3-container w3-padding">
      <!-- Display icon -->
      <i class="{{ step_value['icon'] }}"></i>
      <!-- Display step title -->
      <h3>{{ step_value['title'] }}</h3>
      <!-- Display step description -->
      <p>{{ step_value['description'] }}</p>

      {% if step_value['call_to_action'] %}
        <div class="w3-container">
          <a href="{{ step_value['call_to_action']['link'] }}" class="w3-button w3-blue">{{ step_value['call_to_action']['call'] }}</a>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>


<!-- Our Models -->
<div class="w3-panel">
  <h2>Our Models</h2>
  <p>Check out the models we have developed:</p>
  <div class="w3-row-padding">
    {% for service in services %}
    <div class="w3-third w3-container">
      <div class="w3-card">
        <div class="iframe-container">
          <iframe src="{{ services[service]['url'] }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="w3-container w3-padding-16">
          <i class="{{ services[service]['i'] }}"></i>
          <h3>{{ services[service]['h3'] }}</h3>
          <p>{{ services[service]['p'] }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Other Sections -->

<!-- Regions -->
<div class="w3-panel">
  <div class="w3-row-padding" style="margin: 0 -16px">
    <div class="w3-third">
      <h5>Regions</h5>
      <img src="/w3images/region.jpg" style="width: 100%" alt="Google Regional Map" />
    </div>
    <div class="w3-twothird">
      <h5>Feeds</h5>
      <table class="w3-table w3-striped w3-white">
        <tr>
          <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
          <td>New record, over 90 views.</td>
          <td><i>10 mins</i></td>
        </tr>
        <!-- Add more feed rows here -->
      </table>
    </div>
  </div>
</div>

<hr />

<!-- General Stats -->
<div class="w3-container">
  <h5>General Stats</h5>
  <p>New Visitors</p>
  <div class="w3-grey">
    <div class="w3-container w3-center w3-padding w3-green" style="width: 25%">
      +25%
    </div>
  </div>
  <!-- Add more general stats here -->
</div>

<hr />

<!-- Countries -->
<div class="w3-container">
  <h5>Countries</h5>
  <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
    <tr>
      <td>United States</td>
      <td>65%</td>
    </tr>
    <!-- Add more country rows here -->
  </table>
  <br />
  <button class="w3-button w3-dark-grey">
    More Countries  <i class="fa fa-arrow-right"></i>
  </button>
</div>

<hr />

<!-- Recent Users -->
<div class="w3-container">
  <h5>Recent Users</h5>
  <ul class="w3-ul w3-card-4 w3-white">
    <li class="w3-padding-16">
      <img src="/w3images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width: 35px" />
      <span class="w3-xlarge">Mike</span><br />
    </li>
    <!-- Add more recent user list items here -->
  </ul>
</div>

<hr />

<!-- Recent Comments -->
<div class="w3-container">
  <h5>Recent Comments</h5>
  <div class="w3-row">
    <div class="w3-col m2 text-center">
      <img class="w3-circle" src="/w3images/avatar3.png" style="width: 96px; height: 96px" />
    </div>
    <div class="w3-col m10 w3-container">
      <h4>
        John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span>
      </h4>
      <p>
        Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit
        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </p>
      <br />
    </div>
  </div>
  <!-- Add more recent comment rows here -->
</div>

<br />

<!-- Additional Sections -->

<div class="w3-container w3-dark-grey w3-padding-32">
  <div class="w3-row">
    <div class="w3-container w3-third">
      <h5 class="w3-bottombar w3-border-green">Demographic</h5>
      <p>Language</p>
      <p>Country</p>
      <p>City</p>
    </div>
    <div class="w3-container w3-third">
      <h5 class="w3-bottombar w3-border-red">System</h5>
      <p>Browser</p>
      <p>OS</p>
      <p>More</p>
    </div>
    <div class="w3-container w3-third">
      <h5 class="w3-bottombar w3-border-orange">Target</h5>
      <p>Users</p>
      <p>Active</p>
      <p>Geo</p>
      <p>Interests</p>
    </div>
  </div>
</div>



{% endblock %}
