<!DOCTYPE html>
<html>
<head>
  <title>Generative Bell Sound</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Generate random bell sounds with this web app.">
  <meta property="og:title" content="Generative Bell Sound">
  <meta property="og:description" content="Generate random bell sounds with this web app.">
  <meta property="og:image" content="{{ url_for('lss.static', filename='images/bell.png') }}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('lss.static',filename='css/lss_index.css') }}">
</head>
  <body>
    <div class="w3-container">
      <h3>Create a bell sound</h3>
      <div class="w3-row">
        <div class="w3-col l5 s12 m5" style="text-align: center;">
          <form action="{{ url_for('lss.lss_sg_home') }}" method="post" class="w3-container" onsubmit="showSpinner()">
            <button class="w3-btn w3-blue w3-center" id="generate-sound"><i class="fa fa-volume-up"></i></button>
            <div id="spinner" style="display: none;"><i class="fas fa-spinner fa-spin"></i> Generating audio...</div>
            {% if audio_file %}
            <a href="{{ url_for('lss.static', filename='audios/' + audio_file) }}" download class="w3-btn w3-blue">
              <i class="fas fa-download"></i>
            </a>
            {% endif %}
          </form>

          {% if audio_file %}
          <hr>
          <audio controls>
            <source src="{{ url_for('lss.static', filename='audios/' + audio_file) }}" type="audio/wav">
          </audio>
          {% endif %}
        </div>
      </div>
    </div>

    <script src="{{url_for('lss.static', filename='js/lss_index.js')}}"></script>
    <script src="https://kit.fontawesome.com/7ef59acc6c.js" crossorigin="anonymous"></script>
  </body>
</html>
